<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Your expense index</title>
</head>
<body>

<div>
    #if($username)
        Welcome, $username, this is your expense!
        <a href="/logout">Logout</a>
    <div>
        <a href="expenses">Your expense</a>
    </div>
    #else
        Hello, your expense!
        <a href="/login">Login</a>

        <div>
            <a href="register">Register an user</a>
        </div>
    #end
</div>

</body>
</html>